@model IEnumerable<RMApplication.Models.Reminder>

<h2>Reminders</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date-Time</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.DateTime</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create">Create New</a>
