@model IEnumerable<RMApplication.Models.Department>

<h2>Departments</h2>

<table class="table">
    <thead>
        <tr>
            <th>Department Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create">Create New</a>
